# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Local data
data/
vectorstore/

# AWS / secrets
.aws/
*.pem
*.key
credentials
config

# Logs
*.log

# OS
.DS_Store

# Test and temporary files
.pytest_cache/
*.bak
